@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
  margin: 0px
}
header{
  background-color: black;
  color: white;
  text-align: center;
  margin: -20px -10px 0px -10px;
  padding: 2em;
  font-size: 3.2em
}
html, body{
  min-height: 100vh;
  background: black;
}
body{
  max-width: 950px;
  margin: auto
}
header h1{
  margin-top: 20px;
  margin-bottom: 0px;
  font-variant: small-caps
}
header p{
  margin: 0px;
  padding-bottom: 10px
}
header a{
  color: white
}
section{
  font-size: 3em;
  font-family: Caveat;
  font-weight: bold;
  position: relative;
  margin: 0px -10px 0px 0px
  
}

section p{
  margin-bottom: 1.3em;
  font-size: 1.4em;
  
}
#p1, #p3, #p5{
  background: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 5vw
  
}
#p2, #p4{
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 5vw
}
#p2 > p, #p4 > p{
  background: rgba(0,0,0,0.5);
  max-width: 55vw;
  font-size: 0.6em;
  color: white
}
#p2 {
  background: gray;
  background-image: url('../imagens/background001.jpg');
  background-size: cover;
  background-position: right center;
  background-attachment: fixed
}
#p4{
  background: gray;
  background-image: url('../imagens/background002.jpg');
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
  margin-top: -2em
}
footer{
  color: white;
  text-align: center;
  font-size: 0.9em
}
