@charset "UTF-8";

* {
  margin: 0px;
  transition: 0.5s
}
nav{
  background-color: darkgreen;
  font-size: 2em;
  text-align: left;
}
nav > a{
  text-decoration: none;
  color: lightgreen;
  margin: 15px
}
nav > a:hover{
  background-color: lightgreen;
  text-decoration: underline;
  border-radius: 13px;
  padding: 15px;
  color: black
}
header{
  background-image: linear-gradient(to top, darkgreen 20% , lightgreen);
  text-align: center;
  color: white
  
}
header h1{
  padding: 50px 50px 25px 50px;
  font-size: 6em
}
header p{
  display: block;
  margin: auto;
  font-size: 1.5em;
  padding-bottom: 50px;
  max-width: 920px
}
html{
  background-color: burlywood
}

main{
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 0px 0px 7px 7px;
  max-width: 800px;
  margin-bottom: 20px;
  font-size: 1.3em
}

main > h2{
  margin: 7px;
  padding: 10px;
  background-image: linear-gradient(to right, darkgreen, transparent);
  border-radius: 20px
}
main p{
  text-indent: 50px;
  line
}
main h1{
  padding: 20px 0px 10px 20px
}

#i,#bd,#dd{
  display: block;
  margin: auto;
  width: auto
}

footer{
  background-color: brown;
  text-align: center
}
footer p{
  padding: 4px
}

aside{
  background-color: lightgreen;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  margin: 10px auto;
}
aside ul{
  columns: 2;
  display: bloco;
  margin: auto;
}
aside h3{
  background-color: green;
  padding: 10px;
  margin: -20px -20px 0px -20px;
  border-radius: 8px 8px 0px 0px
  
}
#bgv{
  background-color: Green
}

#video{
  display: block;
  margin: auto
}





