@charset "UTF-8";

* {
  margin: 0px;
  transition: 0.5s
}
nav{
  background-color: darkgreen;
  min-height: 1.5em;
  font-size: 2em;
  text-align: left;
}
nav > a{
  text-decoration: none;
  color: white;
  margin: 15px
}
nav > a:hover{
  background-color: lightgreen;
  text-decoration: underline;
  border-radius: 13px;
  padding: 15px;
  color: black
}
header{
  background-image: linear-gradient(to top, darkgreen 20% , lightgreen);
  text-align: center;
  
}
header h1{
  padding: 50px 50px 25px 50px
}
header p{
  display: block;
  margin: auto;
  font-size: 0.5em;
  padding-bottom: 50px;
  max-width: 700px
}
html{
  background-color: burlywood
}

main{
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 0px 0px 7px 7px;
  max-width: 1200px
}

main > h2{
  margin: 7px;
  padding: 10px;
  background-image: linear-gradient(to right, darkgreen, transparent);
  border-radius: 20px
}
main p{
  text-indent: 50px;
  line
}
main h1{
  padding: 20px 0px 10px 20px
}

#i,#bd,#dd{
  display: block;
  margin: auto;
  width: auto
}