@charset "UTF-8";

* {
  margin: 0px;
  transition: 0.5s
}
nav{
  background-color: darkgreen;
  min-height: 1.5em;
  font-size: 2em;
  text-align: left;
}
nav > a{
  text-decoration: none;
  color: white;
  margin: 15px
}
nav > a:hover{
  background-color: green;
  text-decoration: underline;
  border-radius: 13px;
  padding: 15px;
}
header{
  background-image: linear-gradient(to top, darkgreen , lightgreen);
  text-align: center;
}
header h1{
  padding: 50px 50px 25px 50px
}
header p{
  display: block;
  margin: auto;
  font-size: 0.5em;
  padding-bottom: 50px;
  max-width: 700px
}
html{
  background-color: burlywood
}

main{
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 0px 0px 7px 7px
}

main h2, h1{
  padding: 10px
}
main p{
  text-indent: 50px
}